PROJECT_NAME="FullTextSearchBackend"

# Database
POSTGRES_DB=FullTextSearchDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"  # For Docker
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}"  # For local

# ElasticSearch
ELASTICSEARCH_PASSWORD="your_password"
#ELASTICSEARCH_URL="http://elasticsearch:9200"  # For Docker
ELASTICSEARCH_URL="http://localhost:9200"  # For local

# Redis
# REDIS_URL="redis://redis:6379/0"  # For Docker
REDIS_URL="redis://localhost:6379/0"  # For local
