PROJECT_NAME="FullTextSearchBackend"

# Database
POSTGRES_DB=FullTextSearchDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
